@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .shorten-text {
        @apply overflow-hidden text-ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}