* {
  @apply text-white;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 2.5px;
  background: #ffffff30;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgba(238, 238, 238, 0.1254901961);
}